.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #ffffff;
  margin: 20px;
}

.floater {
  font-family: Arial, Helvetica, sans-serif;
}

.instruction-div {
  float: left;
  width: 30%;
  margin-top: 40px;
  margin-left: 100px;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
}

.predictions {
  float: left;
  width: 40%;
  margin-top: 30px;
  font-family: Arial, Helvetica, sans-serif;
}

.upload-label {
  margin-top: 20px;
  margin-bottom: 50px;
  margin-right: 20px;
  display: inline-block;
  vertical-align: middle;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  bottom: -15px;
}

/* header */
h1 {
  margin-bottom: 0px;
}

/* Upload button */
input[type="file"] {
  outline: none;
  padding: 4px;
  margin: -4px;
}

input[type="file"]::before {
  top: 16px;
}

input[type="file"]::after {
  top: 14px;
}

input[type="file"] {
  position: relative;
}

input[type="file"]::file-selector-button {
  width: 120px;
  color: transparent;
}

input[type="file"]::before {
  position: absolute;
  pointer-events: none;
  left: 40px;
  color: #0964b6;
  content: "Upload File";
}

input[type="file"]::after {
  position: absolute;
  pointer-events: none;
  left: 20px;
  height: 20px;
  width: 20px;
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%230964B0'%3E%3Cpath d='M18 15v3H6v-3H4v3c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2v-3h-2zM7 9l1.41 1.41L11 7.83V16h2V7.83l2.59 2.58L17 9l-5-5-5 5z'/%3E%3C/svg%3E");
}

input[type="file"]::file-selector-button {
  border-radius: 10px;
  padding: 0 16px;
  height: 40px;
  cursor: pointer;
  background-color: #8cffdb;
  border: 2px solid #252424;
  margin-right: 16px;
}

input[type="file"]::file-selector-button:hover {
  background-color: #7eeeca;
}

input[type="file"]::file-selector-button:active {
  background-color: #6cc0a5;
}

.response-modal {
  border-radius: 20px;
  text-align: center;
  font-family: unset;
  padding: 2px 16px;
  background-color: #5cb85c;
  color: rgb(0, 0, 0);
  position: relative;
  background-color: #fefefe;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 0;
  width: 90%;
  height: 60%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 10px 30px 0 rgba(0,0,0,0.19);
  overflow: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.modal-inner-container {
  display: flex; /* Added to make this a flex container */
  flex-direction: column;
  justify-content: center; /* Centers items vertically */
  align-items: center; /* Centers items horizontally */
  margin: 25px;
  gap: 20px;
}

.modal-inner-container > *{
  margin-bottom: 50px;
  margin-top: 30px;
}

ul {
  list-style-type: none; /* Removes bullet points */
  padding: 0; /* Removes default padding */
}

.column {
  float: left;
  width: 20%;
}

/* buttons (modal show report) */
button {
  border-radius: 5px;
  padding: 1 16px;
  height: 20px;
  cursor: pointer;
  background-color: #fcfcfc;
  border: 1px solid #000000;
  margin-bottom: 25px;
}

button:hover {
  background-color: #ebebeb;
  color: #000000;
}

button:active {
  background-color: #dadada;
  color: #000000;
}

/* outer border */
#top, #bottom, #left, #right {
	background: #8cffdb;
	position: fixed;
}

#left, #right {
	top: 0; bottom: 0;
	width: 22px;
}

#left {
  left: 0;
}

#right {
  right: 0;
}
		
#top, #bottom {
	left: 0; right: 0;
	height: 22px;
}

#top {
  top: 0;
}
	
#bottom {
  bottom: 0;
}
