# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: osx-64
Flask==2.2.2
Werkzeug==2.2.3
pandas
joblib
scikit-learn==1.2.1
flask-cors==4.0.0
